p{

    color:purple;
    
    text-align: justify;
    
    font-size: 20px;
    
    }
    h1{

        color: red;
        
        text-align: center;
        
        font-size: 40px;
        
        }
